- tab = typeof tab === 'undefined' ? 'current' : tab
- var files = model.models
.modal-dialog.modal-lg
  .modal-content
    .modal-header
      button.close(type='button', data-dismiss='modal')
        span ×
      h4.modal-title Bild bearbeiten
    .modal-body
      div(role='tabpanel')
        // Nav tabs
        ul.nav.nav-pills(role='tablist')
          li(role='presentation' class={active: tab === 'current'})
            a(href='#current' role='tab' data-toggle='pill') Aktuelles Bild
          li(role='presentation' class={active: tab === 'media'})
            a(href='#media' role='tab' data-toggle='pill') Mediathek
        // Tab panes
        div.tab-content(style='padding-top: 25px;')
          div#current.tab-pane(role='tabpanel' class={active: tab === 'current'})
            .row
              .col-md-6
                input(type='text', placeholder='Name des Bildes' style='width: 100%; margin-bottom: 5px;' value=alt)
                p(style='margin-bottom: 25px;').
                  Der Name des Bildes ist ein wichtiges Feld! Unter anderem
                  werten Suchmaschinen wie Google dieses Feld aus.
                .bs-callout.bs-callout-info
                  h4 Information
                  p Die Auswahl des Bildes bezieht sich nur auf die aktuell ausgewählte Sprache.
              .col-md-6
                img.preview(src=src style='max-height: 250px;')

          div#media.tab-pane(role='tabpanel' class={active: tab === 'media'})
            div#actions.row
              div.col-lg-9
                button.btn.btn-default.cancel(type='reset' style='margin-left: 5px;')
                  i.fa.fa-times
                  span  Abbrechen
                button.btn.btn-default.start(type='submit' style='margin-left: 5px;')
                  i.fa.fa-upload
                  span  Start
                button.btn.btn-default.fileinput-button.dz-clickable(type='button')
                  i.fa.fa-plus
                  span  Datei hinzufügen
              div.col-lg-3
                // The global file processing state
                span.fileupload-process
                  div#total-progress.progress.progress-striped.active(role='progressbar')
                    div.progress-bar.progress-bar-success(style='width:0%;' data-dz-uploadprogress='')

            // Table
            #previews.table.table-striped
              #template.file-row
                // This is used as the file preview template
                div
                  span.preview
                    img(data-dz-thumbnail)
                div
                  p.name(data-dz-name)
                  strong.error.text-danger(data-dz-errormessage)
                div
                  p.size(data-dz-size)
                  .progress.progress-striped.active(role='progressbar')
                    .progress-bar.progress-bar-success(style='width:0%;', data-dz-uploadprogress)
                div
                  button.btn.btn-default.delete(data-dz-remove style='margin-left: 5px;')
                    i.fa.fa-trash
                    span  Delete
                  button.btn.btn-default.cancel(data-dz-remove style='margin-left: 5px;')
                    i.fa.fa-times
                    span  Cancel
                  button.btn.btn-default.start
                    i.fa.fa-upload
                    span  Start

            .imageselect
              - for (var i = 0; i < files.length; i += 4)
                .row(style='margin-top: 15px; margin-bottom: 15px;')
                  each file in files.slice(i, i + 4)
                    .col-md-3(style='position: relative;')
                      img.img-responsive(
                        src='https://s3-eu-west-1.amazonaws.com/#{file.get("bucket")}/#{file.get("key")}'
                        alt=file.get('filename') data-id=file.get('_id')
                      )
                      span.fa-stack.fa-lg(data-id=file.get('_id'))
                        i.fa.fa-circle.fa-stack-2x
                        i.fa.fa-times.fa-stack-1x.fa-inverse(style='color: rgb(222, 113, 107)')

    .modal-footer
      button.btn.btn-default(type='button', data-dismiss='modal') Schließen
